@model IEnumerable<ProlabWeb.Db.Policeassurance>

@{
    ViewData["Title"] = "Polices d'assurance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grid grid-cols-2 gap-5 mb-2">
    <div>
        <h1 class="font-bold">Liste des polices d'assurance</h1>
    </div>
</div>
<div class="flex items-center gap-2 mb-4">
    <span class="border-t border-border border-primary w-full"></span>
</div>
<div class="min-w-full">
    <div class="grid gap-5">
        <div class="grid grid-cols-3 gap-5 mb-4">
            <div>
                <label class="kt-input border-t border-primary">
                    <span class="material-symbols-outlined">search</span>
                    <input class="kt-input" placeholder="Recherche" type="text" data-kt-policeassurance-table-filter="search" id="search-policeassurance">
                </label>
            </div>
            <div></div>
            <div class="inline-flex justify-end grow gap-5">
                <a asp-action="Create" class="kt-btn kt-btn-primary">
                    <span class="material-symbols-outlined align-middle">add</span> Nouvelle police
                </a>

            </div>
        </div>
        <div class="kt-scrollable-x-auto">
            <table id="kt_table_policeassurance_index" class="kt-table table-auto kt-table-border min-w-full">
                <thead>
                    <tr>
                        <th><span class="kt-table-col-label font-bold">Libellé</span></th>
                        <th><span class="kt-table-col-label font-bold">Taux</span></th>
                        <th><span class="kt-table-col-label font-bold">Assurance</span></th>
                        <th class="w-[60px]"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="font-normal text-foreground">@item.Libelle</td>
                            <td class="font-normal text-foreground">@item.Taux</td>
                            <td class="font-normal text-foreground">@item.CodeassuranceNavigation?.Nom</td>
                            <td class="text-center">
                                <div class="kt-menu flex-inline" data-kt-menu="true">
                                    <div class="kt-menu-item kt-menu-item-dropdown" data-kt-menu-item-offset="0, 10px" data-kt-menu-item-placement="bottom-end" data-kt-menu-item-placement-rtl="bottom-start" data-kt-menu-item-toggle="dropdown" data-kt-menu-item-trigger="click">
                                        <button class="kt-menu-toggle kt-btn kt-btn-sm kt-btn-icon kt-btn-ghost">
                                            <i class="ki-filled ki-dots-vertical text-lg"></i>
                                        </button>
                                        <div class="kt-menu-dropdown kt-menu-default w-full max-w-[175px]" data-kt-menu-dismiss="true">
                                            <div class="kt-menu-item">
                                                <a class="kt-menu-link" asp-action="Edit" asp-route-id="@item.Policeassuranceid">
                                                    <span class="kt-menu-icon"><i class="ki-filled ki-pencil"></i></span>
                                                    <span class="kt-menu-title">Modifier</span>
                                                </a>
                                            </div>
                                            <div class="kt-menu-item">
                                                <a class="kt-menu-link" asp-action="Details" asp-route-id="@item.Policeassuranceid">
                                                    <span class="kt-menu-icon"><i class="ki-filled ki-eye"></i></span>
                                                    <span class="kt-menu-title">Détails</span>
                                                </a>
                                            </div>
                                            @* <div class="kt-menu-item">
                                                <a class="kt-menu-link" asp-action="Delete" asp-route-id="@item.Policeassuranceid">
                                                    <span class="kt-menu-icon"><i class="ki-filled ki-trash"></i></span>
                                                    <span class="kt-menu-title">Supprimer</span>
                                                </a>
                                            </div> *@
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/app/policeassurance/index.js"></script>
}

