@model ProlabWeb.Db.Valeurreference

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Valeurreference</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agedebut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agedebut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agefin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agefin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Referencefromvalue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Referencefromvalue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Referencetovalue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Referencetovalue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Referencefromvaluesi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Referencefromvaluesi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Referencetovaluesi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Referencetovaluesi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeunitagedebutNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeunitagedebutNavigation.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeunitagefinNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeunitagefinNavigation.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeunitreferenceNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeunitreferenceNavigation.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeunitreferencesiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeunitreferencesiNavigation.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdanalyseNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdanalyseNavigation.Idanalyse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SexeautorisecodeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SexeautorisecodeNavigation.Sexeautorisecode)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Valeurreferenceid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
