@model ProlabWeb.Db.Entetedemande

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Entetedemande</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodesiteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodesiteNavigation.Codesite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.Patientid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Policeassurance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Policeassurance.Policeassuranceid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prescripteur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prescripteur.Prescripteurid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Entetedemandeid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
