@model ProlabWeb.Db.Fournisseur
@{
    ViewData["Title"] = "Détails Fournisseur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grid grid-cols-2 gap-5 mb-5">
    <div>
        <h1 class="font-bold">@ViewData["Title"]</h1>
    </div>
    <div class="text-end">
        <a asp-action="Index" class="text-primary">Retour à la liste</a>
    </div>
</div>
<div class="flex items-center gap-2 mb-5">
    <span class="border-t border-border border-primary w-full"></span>
</div>

<div class="min-w-full mb-5">
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Nom)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Nom)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Adresse)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Adresse)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Tel)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Tel)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Email)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>
    </dl>
    <div class="flex gap-5 mt-5">
        <a asp-action="Edit" asp-route-id="@Model?.Fournisseurid" class="kt-btn kt-btn-warning">Modifier</a>
        <a asp-action="Index" class="kt-btn kt-btn-secondary">Retour</a>
    </div>
</div>
