@model ProlabWeb.Db.Patient

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Patient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codesite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codesite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nomusage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nomusage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codesexe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codesexe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datenaissance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datenaissance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codetypepeau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codetypepeau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codetypedocumentidentite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codetypedocumentidentite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numerodocumentidentite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numerodocumentidentite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ville)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ville)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quartier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quartier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Renseignementclinique)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Renseignementclinique)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lieunaissance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lieunaissance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Patientid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
