@model ProlabWeb.Db.Detailmaterielappro

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Detailmaterielappro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Entetematerielappro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Entetematerielappro.Entetematerielapproid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Materiel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Materiel.Materielid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Detailmaterielapproid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
